// Цвета
$primary-color: #bab2b5;
$secondary-color: #edc7b7;
$text-color: #ac3b61;
$background-color: #eee2dc;

// Шрифты
$font-stack: 'Times New Roman, Courier, sans-serif';

// Размеры
$container-max-width: 1200px;
$padding: 20px;
